<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search in scholar</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon/search.ico') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-profile.css') }}">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>
<body>
      <main class="profile">
        <section class="result">
            <ul>
                    {% for info in perfil %}
                <article class="article">
                   <li>{{info}}</li>
                 </article>
            </ul>
            {% endfor %}
            <ul>
                       {% for texto in contenido %}
                <article class="article">
                    <li>{{texto.split(",")}}</li>
                 </article>
            </ul>
            {% endfor %}
            <ul>
                       {% for indice in guardar %}
                <article class="article">
                    <li>{{indice}}</li>
                 </article>
            </ul>
                {% endfor %}
        </section>
   </main>
</body>
</html>
